name: Build LaTeX and deploy

on: [push, pull_request]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
      - name: Save pdf as articaft
        uses: actions/upload-artifact@v2
        with:
          name: compiled-book
          path: main.pdf
      - name: Save log as artifact
        uses: actions/upload-artifact@v2
        with:
          name: latex-log
          path: main.log
  latex_warnings:
    needs: build_latex
    runs-on: ubuntu-latest
    steps:
      - name: Download log
        uses: actions/download-artifact@v2
        with:
          name: latex-log
      - name: Check the number of latex warnings
        run: |
          grep -i warning main.log > warnings.log
          num_warnings=`wc -l warnings.log | awk '{print $1;}'`
          return $num_warnings
  latex_overfull_boxes:
    needs: build_latex
    runs-on: ubuntu-latest
    steps:
      - name: Download log
        uses: actions/download-artifact@v2
        with:
          name: latex-log
      - name: Check the number of overfull boxes
        run: |
          grep -i overfull main.log > warnings.log
          num_overfull=`wc -l warnings.log | awk '{print $1;}'`
          return $num_overfull
  deploy:
    needs: build_latex
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Download pdf
        uses: actions/download-artifact@v2
        with:
          name: compiled-book
      - name: Assemble the gh-pages deployment
        run: |
          mkdir gh-pages-deployment
          cp main.pdf gh-pages-deployment/cryptocompanion.pdf
          echo '<a href="cryptocompanion.pdf">See the PDF</a>' > gh-pages-deployment/index.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages-deployment/
          # force_orphan: true  # this would remove gh-pages history